  {{- range .Params.blocks -}}
  {{- if eq .template "block-feature-1" -}}{{ partial "blocks/block-feature-1" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-2" -}}{{ partial "blocks/block-feature-2" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-3" -}}{{ partial "blocks/block-feature-3" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-4" -}}{{ partial "blocks/block-feature-4" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-5" -}}{{ partial "blocks/block-feature-5" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-6" -}}{{ partial "blocks/block-feature-6" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-feature-7" -}}{{ partial "blocks/block-feature-7" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-cta" -}}{{ partial "blocks/block-cta" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-faq" -}}{{ partial "blocks/block-faq" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-gallery" -}}{{ partial "blocks/block-gallery" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-statement" -}}{{ partial "blocks/block-statement" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-contact" -}}{{ partial "blocks/block-contact" (dict "Params" .) }}{{- end -}}
  {{- if eq .template "block-reviews" -}}{{ partial "blocks/block-reviews" (dict "Params" .) }}{{- end -}}
  {{- end -}}