<div id="searchForm" class="modal-full">
  <div class="modal-content">
    <form>
      <div class="form-title">
        <h2>Search</h2>
      </div>
      <div class="form-content">
        <div class="input-container">
          <label for="searchInput" class="hidden">Search</label>
          <input id="searchInput" type="text" class="form-control" autocomplete="off" placeholder="What are you looking for?" name="search-input">
        </div>
          <p id="searchData"></p>
      </div>
      <div id="searchResults"></div>
    </form>
  </div>
</div>