.block-container{
  width: 100%;
  display: block;
  padding: $spacing-unit 0;
  @media (min-width: $tablet) {

  }

  &.block-container-wide{
    width: 100%;
    margin: 0;
    margin-bottom: $spacing-unit * 2;
    max-width: none;
  }
  a.link{
    display: inline-flex;
    align-items: center;
    line-height: 1.4;
    span{
      transition: all .3s ease-out;
      box-shadow: inset 0 -1.5px $color-black;
    }
    &:hover{
    span{
      margin-right: .5em;
      box-shadow: inset 0 -.1.5px $color-grey-light;
      }
    }
    svg{
      width: 1em;
      height: 1em;
      margin-top: .5em;
    path{
      fill: $color-black;
      }
    }

  }

}
.block-container{


}
.block-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: $spacing-unit / 2;
  padding: $spacing-unit $spacing-unit / 2;
  h2{
    color: $color-grey-light;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .6rem;
    font-family: $alt-font-family;
    font-weight: 700;
    @media(min-width: $laptop){
      font-size: .7rem;
      margin-bottom: $spacing-unit / 2;
    }
  }
  h3{
    line-height: 1.2;
    font-size: 2rem;
    @media(min-width: $laptop){
      font-size: 4rem;
      margin-bottom: $spacing-unit;
    }
  }

  @media(min-width: $laptop){
    p{
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.flex-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .flex-item{
    flex-basis: 20%;
    margin: $spacing-unit / 2;
    @media(min-width: $laptop){
      flex-basis: 15%;
      margin: $spacing-unit;
    }
    img{
      max-height: 80px;
      max-width: 200px;
      margin: 0 auto;
    }
  }
}
