button{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

button:focus {
    outline: none;
    outline-offset: -4px;
}

.button,a.button {
  background: $color-brand;
  display: inline-block;
  border: 2px solid $color-brand;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  margin: $spacing-unit / 2;
  margin-left: 0;
  padding: 1em 2em;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  color: $color-brand;
  font-size: inherit;
  position: relative;
  vertical-align: middle;
  transition: all .2s ease-out;
  span{
    color: $color-white;
    font-size: 1rem;
  }
  &:hover{
    background: lighten($color-brand, 5%);
  }
  &.alt{
  background: $color-transparent;
  border-color: $color-white;
  color: $color-white;
    span{
      color: $color-white;
    }
    &:hover{
      background: $color-white;
      color: $color-brand;
      span{
        color: $color-brand;
      }

    }
  }
  &.button.border{
    background: $color-transparent;
    border-color: $color-white;
    &:hover{
      background: $color-white;
      span{
        color: $color-brand;
      }

    }
    span{
      color: $color-white;
    }
  }
}