header{
  width: 100%;
  position: relative;
  overflow: hidden;
  background: $color-white;
  display: flex;
  justify-content: center;
  .hero{
    height: 90vh;
    min-height: 20em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(min-width: $laptop) {
      height: 90vh;
      min-height: 30em;
    }
    .hero-image{
      width: 100%;
      height: 100%;
      position: absolute;
      @include fadeIn(
        $delay: 2s,
        $duration: .6s
      );
      
      img{
      height: 100%;
      height: 100vh;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      box-shadow: $box-shadow;
      }
  
    }
    .cta{
      .cta-content{        
        text-align: center;
        @media(min-width: $laptop) {
          max-width: 70ch;
          text-align: left;
          margin-left: $spacing-unit * 2;
        }
        h1{
        font-size: 2.5rem;
        letter-spacing: -.1rem;
        margin-bottom: $spacing-unit / 2;
        line-height: 1.2;
        font-family: $header-font-family;
        color: $color-brand;
        @media(min-width: $laptop) {
          font-size: 7rem;
        }
        @include fadeInLeft(
          $delay: 1s,
          $duration: .6s
        );
        }
        h2{
          font-size: 1rem;
          color: $color-brand;
          margin-bottom: $spacing-unit / 2;
          text-transform: uppercase;
          letter-spacing: .4rem;
          font-weight: 700;
          @include fadeIn(
            $delay: 1.2s,
            $duration: .6s
          );
          @media(min-width: $laptop)  {
            letter-spacing: .3rem;
            font-size: 1.4rem; 
          }
        }
        p{
          font-size: 1.2rem;
          color: $color-brand;
          margin-bottom: $spacing-unit;
          @include fadeInLeft(
            $delay: 1.4s,
            $duration: .6s
          );
        }
 
        .cta-links{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          @media(min-width: $laptop) {
            flex-direction: row;
          }
          a{
            color: $color-white;
            font-size: 1rem;
            display: flex;
            align-items: center;
            margin-bottom: $spacing-unit / 2;
          svg{
            width: 1em;
            height: 1em;
            margin-top: .5em;
            path{
              fill: $color-white;
              }
            }
          }
        }
        .button{
          margin: 0;
          margin-right: $spacing-unit / 2;
          border-color: $color-brand;
          color: $color-brand;
          &:hover{
            background: lighten($color-brand, 5%);
            span{
            color: $color-white;
            }   
          }
          span{
            font-size: 1rem;
            color: $color-brand;
          }
          @include fadeInUp(
            $delay: 1.6s,
            $duration: .8s
          );
        }
        .cta-more{
          @include fadeInLeft(
            $delay: 1.8s,
            $duration: .8s
          );
        }
      }
    }
  }
}
