/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  margin: .2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $color-white;
}

.svg-icon circle {
  stroke: $color-white;
  stroke-width: 1;
}
