.modal-full{
  max-height: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  background: $color-white;
  z-index: $height-high;
  justify-content: center;
  transition: max-height .6s ease;
  transition-delay: 1s;
  &.active{
    transition: max-height .4s ease;
    display: flex;
    max-height: 100%;

  }
  .modal-content{
    height: 100vh;
    width: 94%;
    margin: 0 3%;
    margin-top: $spacing-unit * 3;
    max-width: $content-width;
    @media(min-width: $laptop){
      margin-top: 0;
    }
  }
}
.modal-close{
  position: absolute;
  margin: $spacing-unit / 2;
  top: 0;
  right: 0;
  z-index: $height-top;
  display: none;
  .svg-icon{
    width: 2em;
    height: 2em;
    path{
    fill: $color-black;
    }
  }
  &.active{
    display: block;
  }
}