
.h1{
  font-family: $header-font-family;
  font-size: 4rem !important;
  line-height: 1.2 !important;
  display: block;
}
.h2{
  font-family: $header-font-family;
  font-size: 3rem !important;
  line-height: 1.2 !important;
  display: block;
}
.h3{
  font-family: $header-font-family;
  font-size: 2.5rem !important;
  line-height: 1.2 !important;
  display: block;
}

.header-font{
  font-family: $header-font-family;
}

.base-font{
  font-family: $base-font-family;
}

.text-bold{
  font-weight: 700 !important;
}

.shadow-sm{
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 30px;
}
.shadow-lg{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
}

.rounded-sm{
  border-radius: 3px;
}
.rounded-lg{
  border-radius: 3em;
}

//Padding
.py1{
  padding: $spacing-unit / 2 0;
}
.py2{
  padding: $spacing-unit 0;
}
.py3{
  padding: $spacing-unit * 1;
}

.px1{
  padding: 0 $spacing-unit / 2;
}
.px2{
  padding: 0 $spacing-unit 0;
}
.px3{
  padding: 0 $spacing-unit * 1;
}

//Margin
.mt1{
  margin-top: $spacing-unit / 2;
}
.mt2{
  margin-top: $spacing-unit;
}
.mt3{
  margin-top: $spacing-unit * 1;
}
.mb1{
  margin-bottom: $spacing-unit / 2;
}
.mb2{
  margin-bottom: $spacing-unit;
}
.mb3{
  margin-bottom: $spacing-unit * 1.5;
}
.f-center{
  justify-content: center;
}
.svg{
  width: unset;
  min-width: 10em;
  height: auto;
}
.overflow-hide{
  overflow: hidden;
}

.image-top{
  object-position: 50% 0;
}

.image-middle{
  object-position: 50% 25%;
}

.image-bottom{
  object-position: 50% 50%;
}
.text-small{
  p,li,ol{
    font-size: .8rem;
  }
}
.text-center{
  text-align: center;
}
.fixed{
  position: fixed;
}

.visible{
  visibility: visible;
  display: block;
}
.hidden{
  visibility: hidden;
  display: none;
}

.overflow{
  overflow: hidden;
}

.lazyload{
  opacity: 1;
  transition: opacity 1s ease-out;

}
.lazyload:not(.loaded) {
  opacity: .7;

}

.scroll-to-top{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: $spacing-unit;
  padding: 0 .5em 1em;
  background: $color-black;
  line-height: 0;
  color: $color-brand;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: $height-top;
  .svg-icon{
    width: 2em;
    height: 2em;
    transform: rotate(270deg);
  }
}

.skip-to-content{
  display: none;
}
a > * {
  pointer-events: none;
}
button > * {
  pointer-events: none;
}

.alert-on{
  margin-top: 3em;
  @media(min-width: $laptop){
    margin-top: 2.5em;
  }  
}
.alert{
  color: red;
}

.color-brand{
  color: $color-brand;
}
.color-black{
  color: $color-black;
}


.vertical-scroll{
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  min-width: $content-width;
  .vertical-scroll-item{
    margin: 0 $spacing-unit / 2;
    min-width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      height: 5em;
      width: 5em;
      max-height: unset;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
