.block-showcase{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  @media(min-width: $tablet){
    flex-direction: row;
  }
  @media(min-width: $laptop){
    max-width: $content-wide;
  }
  .block-showcase-item{
    flex-basis: 30%;
    flex-grow: 1;

    .block-showcase-item-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h3{
        font-size: 1.6rem;
        font-weight: 600;
      }
      p,li,ol{
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: $spacing-unit / 2;
      }
      svg{
        width: auto;
        height: 4em;
        margin-bottom: $spacing-unit / 2;
      }
    }
  }
}