.block-feature-items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  @media(min-width: $tablet){
    flex-direction: row;
  }

  .block-feature-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    flex-basis: 27%;
    margin-bottom: $spacing-unit;
    .block-feature-item-media{
      width: 100%;
      margin-bottom: $spacing-unit / 2;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;

      }
    }
    .block-feature-item-content{
      position: relative;
      z-index: $height-mid;
      max-width: $content-width;
      .meta{
        display: flex;
      }
      h3{
        font-size: 2.8rem;
        margin-bottom: 0;
        line-height: 1.4;
        @media(min-width: $laptop){
          font-size: 3rem;
        }
      }
      h4{
        color: $color-grey;
        font-family: $alt-font-family;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .7rem;
        font-weight: 700;
        margin-right: $spacing-unit / 2;
      }
      hr{
        margin: 0;
        margin-bottom: $spacing-unit / 2;
      }
      p,li,ol{
        font-size: .9rem;
        font-weight: 500;
      }
    }
    &:only-child{
    .block-feature-item-media{
      @media(min-width: $laptop){
          min-height: 40em;
        }
      }
    }
  }

  .block-feature-item:last-of-type{
    
  }

}
.split{
  :first-child{
    grid-column: 1 / -1;
    grid-row-gap: 0;

  }
  :last-child{
    grid-column: 1 / -1;
    grid-row-gap: 0;

  }
  .block-feature-item{
    &:first-of-type{
    @media(min-width: $laptop){
      display: flex;
      align-items: center;
      .block-feature-item-media{
          min-height: 40em;
        }
      }
      .block-feature-item-content{
        text-align: center;
        .meta{
          align-items: center;
          justify-content: center;
        }
        @media(min-width: $laptop){
          h3{
            font-size: 5rem;
          }
          h4{
            font-size: .7rem;
          }
          p{
            font-size: 1.2rem;
            font-weight: 400;
          }

        }
        a{
          justify-content: center;
          align-items: center;
          display: inline-flex;

        }
      }
    }
    &:last-of-type{
    @media(min-width: $laptop){
      display: flex;
      align-items: center;
      .block-feature-item-media{
          min-height: 40em;
        }
      }
      .block-feature-item-content{
        text-align: center;
        .meta{
          align-items: center;
          justify-content: center;
        }
        @media(min-width: $laptop){
          h3{
            font-size: 5rem;
          }
          h4{
            font-size: .7rem;
          }
          p{
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        a{
          justify-content: center;
          align-items: center;
          display: inline-flex;
        }
      }
    }
  }
  @media(min-width: $laptop){
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    .block-feature-item{
      .block-feature-item-media{
        min-height: 20em;
      }
    }
  }
}