<!-- Who we've worked with -->
<section class="block-container" alt="{{ .Params.heading }}">
  <div class="block-header">
    <div class="container mb1">
      {{ with .Params.subheading }}
      <h2>{{ markdownify . }}</h2>
      {{ end }}
      {{ with .Params.heading }}
      <h3>{{ markdownify . }}</h3>
      {{ end }}
      {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
      {{- end -}}
    </div>
  </div>
  <div class="flex-wrapper">
    {{- if .Params.items -}}
      {{ range .Params.items }}
      <div class="flex-item">
        {{ $alt := .alt }}
        {{ with .image }}
        {{ $image := resources.Get . }}
        <a href="" class="svg-grey">
        {{ $image.Content | safeHTML }}
        </a>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>