<section class="block-container" id="services">
  <div class="block-header">
    <div class="container mb2">
      {{ with .Params.subheading }}
      <hr class="hr-2"/>
      <h2>{{ markdownify . }}</h2>
      {{ end }}
      {{ with .Params.heading }}
      <h3>{{ markdownify . }}</h3>
      {{ end }}
      {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
      {{- end -}}
    </div>
  </div>
  <div class="block-feature-items">
    {{- if .Params.items -}}
      {{ range .Params.items }}
      <div class="block-feature-item">
        {{ with .image }}
        <div class="block-feature-item-media">
        {{ $image := (resources.Get .).Resize "1200x" }}
        {{ $imageThumbnail := $image.Resize "100x q25" | images.Filter (images.GaussianBlur 3) }}
        <img class="lazyload" data-object-fit="cover" src="{{ $imageThumbnail.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ $.Title }}">
        </div>
        {{ end }}
        <div class="block-feature-item-content">
        {{ with .heading }}
          <h3>{{ markdownify . }}</h3>
        {{ end }}
        {{- with .content -}}
          <p>{{ markdownify . }}</p>
        {{- end -}}
        {{- if and .more_url .more_text -}} 
        <a href="{{ .more_url }}"><span>{{ .more_text }}</span>
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path fill="none" d="M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0
            l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109
            c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483
            c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788
            S1.293,9.212,1.729,9.212z"></path></svg>
        </a>
        {{ end }}
        </div>
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>