<!-- CTA 1 Need a better name -->
<section class="block-container" alt="{{ .Params.heading }}">
  <div class="block-header">
    <div class="container mb1">
      {{ with .Params.subheading }}
      <h2>{{ markdownify . }}</h2>
      {{ end }}
      {{ with .Params.heading }}
      <h3>{{ markdownify . }}</h3>
      {{ end }}
      {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
      {{- end -}}
    </div>
  </div>
  <div class="block-wrapper f-center">
    {{- if .Params.buttons -}}
      {{ range .Params.buttons }}
      <a class="button border" href="{{ .link }}"><span>{{ .title }}</span></a>
      {{ end }}
    {{ end }}
  </div>
</section>