<!--  -->
<section class="block-container" alt="{{ .Params.heading }}">
  <div class="block-header">
    <div class="container mb1">
      {{ with .Params.subheading }}
      <h2>{{ markdownify . }}</h2>
      {{ end }}
      {{ with .Params.heading }}
      <h3>{{ markdownify . }}</h3>
      {{ end }}
      {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
      {{- end -}}
    </div>
  </div>
  <div class="block-wrapper f-center">
    <div class="vertical-scroll">
    {{- if .Params.items -}}
      {{ range .Params.items }}
        {{ with .image }}
        {{ $image := resources.Get .}}
        <div class="vertical-scroll-item">
          <img src="{{ $image.RelPermalink }}">
          <p>{{ $.Params.title }}</p>
        </div>
        
        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div>
</section>